ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
Service__Name=tickets-service
Service__Version=1.0.0
Service__BaseUrl=http://tickets-service:8080
Service__MySqlConnectionString=Server=mysql;Port=3306;Database=exiledcms_tickets;User ID=exiledcms_app;Password=change-me;SslMode=None;AllowPublicKeyRetrieval=True;TreatTinyAsBoolean=true
PlatformCore__BaseUrl=http://platform-core:8080
PlatformCore__AutoRegister=true
PlatformCore__RetryIntervalSeconds=30
Nats__Url=nats://nats:4222
Nats__EventVersion=1.0
Outbox__DispatchIntervalSeconds=5
Outbox__BatchSize=50
